{erl_opts,
    [
    % fail_on_warning
    ]
}.

{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager", {branch, "master"}}},
  {cowboy,".*", {git, "https://github.com/ruanpienaar/cowboy", {branch, "master"}}},
  {rabbit_common, ".*", {git, "https://github.com/jbrisbin/rabbit_common", {branch, "master"}}},
  {amqp_client, ".*", {git, "https://github.com/jbrisbin/amqp_client", {tag, "rabbitmq-3.6.2"}}},
  {tempo, ".*", {git, "https://github.com/ruanpienaar/tempo", {branch, "master"}}}
  %{emqttc, ".*", {git, "https://github.com/emqtt/emqttc", {branch, "master"}}},
  %{tinymq, ".*", {git, "https://github.com/ChicagoBoss/tinymq", {branch, "master"}}},
  %{epocxy, ".*", {git, "https://github.com/duomark/epocxy.git", {branch, "master"}}}
]}.

{cover_enabled, true}.
{edoc_opts, [{doclet, edown_doclet}]}.
{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.

{relx, [
        {release, {in, "0.0.1"},
         [
          %% OTP
          wx,
          observer,
          runtime_tools,
          sasl,
          %% APP
          amqp_client,
          ranch,
          cowlib,
          cowboy,
          ipo,
          in
         ],
         [  {dev_mode, true},
            {include_erts, false},
            {extended_start_script, true},
            {vm_args, "config/vm.args"},
            {sys_config, "config/sys.config"}
        ]}
    ]
}.