[

 {in,[
    %% Just use ranch, for tcp and udp....
    {incoming_protocols, [
        {protocol,[
            {type, ranch},
            {tcp_v4_port, 7777},
            {listen_opts,[
                {active, false},
                {packet, raw},
                {reuseaddr, true}
            ]}
        ]},
        {protocol,[
            {type, tcp_v4_socket},
            {tcp_v4_port, 8888},
            {listen_opts,
                [binary,
                 {packet, raw},
                 {active, false},
                 {reuseaddr, true},
                 {ip,{0,0,0,0}}
                ]
            }
        ]},
        {protocol,[
            {type, http},
            {http_port, 9999}
        ]}
    ]},
    {proc_buff, [
        {amqp,[
            {connection,[
                {type, network},
                {username, <<"guest">>},
                {passwd, <<"guest">>},
                {vhost, <<"/">>},
                {host, "192.168.99.100"},
                {port, 32771}
            ]}
        ]}
    ]}
 ]},

 {lager, [
   {log_root, "log/"},
   {handlers, [
     {lager_console_backend, info},
     {lager_file_backend, [{file, "error.log"}, {level, error}]},
     {lager_file_backend, [{file, "console.log"}, {level, info}]}
   ]}
 ]},

 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

